:host{
    display: flex;
}

.notification {
    transition: color .2s linear, background-color .2s linear;
    box-shadow: 0 0 2px 0.2px black;
    flex: 1;

    &--scale-in {
        animation-name: scale-in;
        animation-duration: .6s;
    }
}

.tiles-wrapper {
    display: flex;
    justify-content: flex-start;
    overflow: hidden;
    margin-bottom: .5rem;
    border: 0;
}

@keyframes scale-in {
    from {
        overflow: hidden;
        transform: scale(0);
    }
    80% {
        transform: scale(1.2);
    }
    to {
        overflow: auto;
        transform: scale(1);
    }
}
