<div 
  [hidden]="isNotificationsEmpty"
  [ngClass]="backgroundClass" 
  (mouseenter)="clearHideCountdown()" 
  (mouseleave)="runHideCountdown()" 
  class="notification notification--scale-in px-4">
  <button class="delete" (click)="remove()"></button>
    <div class="tiles-wrapper tabs is-small">
      <app-notification-select-tile
        *ngFor="let message of messages" 
        [type]="message.type"
        [isSelected]="isSelected(message)"
        (click)="select(message)">
      </app-notification-select-tile>
    </div>
    <app-notification-progress-bar
      [timeout]="hideTimeout">
    </app-notification-progress-bar>
    <app-notification-content
      [notification]="selected"
      [isHidden]="isContentHidden">
    </app-notification-content>
</div>