<div 
  [hidden]="messages?.length <= 0"
  [ngClass]="backgroundClass" 
  (mouseenter)="clearHideTimeout()" 
  (mouseleave)="setHideTimeout()" 
  class="notification px-4">
  <button class="delete" (click)="remove()"></button>
    <div class="tile-wrapper tabs is-small">
      <app-notification-select-tile
        *ngFor="let message of messages" 
        [type]="message.type"
        [isSelected]="selected === message && !isHidden"
        (click)="select(message)">
      </app-notification-select-tile>
    </div>
    <app-notification-progress-bar
      [timeout]="hideTimeout">
    </app-notification-progress-bar>
    <app-notification-content
      [notification]="selected"
      [isHidden]="isHidden">
    </app-notification-content>
</div>