@import "../../../../node_modules/bulma/bulma.sass";

:host {
    margin: auto;
    width: 512px;

    @include until($tablet) {
        width: 100%!important;
    }
}

.form-wrapper {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    overflow: auto;
}