<form
    class="sign-in-form" 
    [formGroup]="signInForm" 
    (ngSubmit)="submit()">
    <h3 class="title">Sign up</h3>

    <app-reactive-input 
        formControlName="email"
        description="📧 Email"
        i18n-description
        type="email">
    </app-reactive-input>
    
    <app-reactive-input 
        formControlName="password"
        description="🔒 Password"
        i18n-description
        type="password">
    </app-reactive-input>
    
    <app-pending-button
      i18n-description
      description="Sign in"
      [status$]="loginRequest?.status$">
    </app-pending-button>

    <button [routerLink]="['/sign/up']" i18n class="button is-link mt-3 is-outlined">Sign up</button>
</form>