<form
    class="sign-in-form" 
    [formGroup]="signInForm" 
    (ngSubmit)="submit()">
    <h3 translate class="title">SignIn</h3>
    
    <app-reactive-input 
        formControlName="email"
        description="Email"
        type="email">
    </app-reactive-input>
    
    <app-reactive-input 
        formControlName="password"
        description="Password"
        type="password">
    </app-reactive-input>
    
    <app-pending-button
      description="SignIn"
      [isDisabled]="!signInForm.valid"
      [status$]="loginRequest?.status$">
    </app-pending-button>

    <button translate [routerLink]="['/sign/up']" class="button is-link mt-3 is-outlined">SignUp</button>
</form>